<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mifi.dao.mifi.UserRegistrationMapper" >
  <resultMap id="UserRegistration" type="com.mifi.po.mifi.UserRegistration" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="DATE" />
  </resultMap>
  
  <select id="getLastRegist" resultMap="UserRegistration">
  	select * from mifi_user_registration where user_id = #{userId,jdbcType=BIGINT} and date = #{date,jdbcType=DATE}
  </select>
  
  <insert id="insert" parameterType="UserRegistration">
		insert into mifi_user_registration
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="days != null">
				days,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="date != null">
				date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="days != null">
				#{days,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="date != null">
				#{date,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="UserRegistration">
  		update mifi_user_registration
	    <set >
	      <if test="id != null" >
	        id = #{id,jdbcType=BIGINT},
	      </if>
	      <if test="days != null" >
	        days = #{days,jdbcType=INTEGER},
	      </if>
	      <if test="userId != null" >
	        user_id = #{userId,jdbcType=BIGINT},
	      </if>
	      <if test="date != null" >
	        date = #{date,jdbcType=DATE},
	      </if>
	    </set>
	    where id = #{id,jdbcType=BIGINT},
  </update>
  
</mapper>